@charset "ISO-8859-1";
body
{
margin:0;
padding:50px;
text-align:center;
background:grey;
background-size:cover;
font-size:20px;
font-family:sans-serif;
 }
h1
{
  color:black;
font-family:impact;
font-size:50px;
padding:10px;
margin-bottom:30px;
padding:10px 0;
}
p
{
  color:black;
font-size:25px;
padding:10px;
margin-bottom:30px;
}
.textbox{
overflow:hidden;
font-size:20px;
padding:3px 0;
margin:2px 0;
box-sizing:border-box;
border-radius: 25px 25px ;
width:100%;

}
input[type=text] ,input[type=submit],input[type=email]{
width:20%;
height:8%;
border-radius: 25px 25px ;
border:none;
outline:none;
padding:15px;
color:white;
}
.btn{
 margin:10px;
}
input[type=submit]:hover
{ background-color:white;
color:black;
}
input[type=text]:hover
{ background-color:black;
}
input[type=email]:hover
{ background-color:black;
}
input[type=submit]
{ background-color:black;
f
}
.textbox .textbox{
height:100%;
width:22%;
border:none;
padding:10px;
border-radius: 25px 25px ;
} 


